#Minimal files to use IDEA for version control and as a project
.idea/*
!.idea/vcs.xml
!.idea/modules.xml
!.idea/ubuntu-mini-respin.iml

#Chroot and ISO output
build
squashfs-root

#Squid caching proxy
squid/var/
